.col-lg-12 {
    padding: 2px;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans';
    padding: 10px;
}

* Style all font awesome icons */ .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}


/*google */

.fa-google {
    background: red;
    color: white;
}


/*youtube */

.youtube {
    background: red;
    color: white;
}

element.style {}

img {
    height: auto;
}

embed,
img,
object,
video,
.wp-caption {
    max-width: 100%;
}

element.style {}

.title a {
    color: #0000fa;
    text-decoration: none;
}

form {
    direction: right;
}

ul {
    float: left;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li.active a {
    background-color: #fff;
    color: #000;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

form input button {
    align-content: right;
}

element.style {}

@media only screen and (max-widh: 767px) grid_2_custom_footer ul li.address-icon,
.grid_2_custom_footer ul li.phone-icon,
.grid_2_custom_footer li.email-icon {
    backgroung: none;
    color: #acb0ba;
    padding: 0;
}

footer {
    padding: 5px;
}