<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="vlsinstitute.css" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<head>

    <style>
        footer {
            background-color: whitesmoke;
            text-align: center;
            margin-top: 40px;
            <!-- Add font awesome icons --><a href="#" class="fa fa-facebook"></a><a href="#" class="fa fa-twitter"></a>
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-2">
   
            </div> -->
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-dark justify-content-left">
                    <header>vlsinstitute</header>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="Home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact_us.html">Contact us</a>
                        </li>
                    </ul>
                </nav>



            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">


                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="pic1.jpg" alt="pic2" width="100%" height="500px">
                            <div class="carousel-caption">
                                <h3>class1 students</h3>
                                <p>they are happy after drinking porridge!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="pic2.jpg" alt="Chicago" width="100%" height="500px">
                            <div class="carousel-caption">
                                <h3>class 2 students</h3>
                                <p>A trip is the best time for them!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="pic 4.jpg" alt="New York" width="100%" height="500px">
                            <div class="carousel-caption">
                                <h3>pre_unit graduation students</h3>
                                <p>they were happy to join grade 1</p>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Available countries</h1>
                <p>
                    Kenya,Uganda,Rwanda,Tanzania
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Computer programme</h2>
                <p>
                    standard 1 to 8 they do computer as a subject last year class 8 did a prpject

                </p>
            </div>
            <div class="col-sm-4">
                <h3>Extra carrriculumn</h3>
                <p>
                    Swimming,Pe,story,telling
                </p>

            </div>
        </div>
    </div>
    <div class="container"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <footer>
                    <p>Copyright © 2019 Tenri school. All rights reserved</p>
                    <p>P. O. Box 73492-00200,</p>
                    <p>Embu, Kenya.</p>
                    <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
                    <!-- Add font awesome icons -->
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>

                </footer>
            </div>
        </div>
</body>

</html>